.footer {
  position: absolute;
  bottom: 0%;
  left: 0;
  width: 100%;
  height: 60px;
}
@media screen and (max-width: 1399px) {
  #content {
    padding-bottom: 0;
  }
  .footer {
    position: relative;
  }
}
