
.Miperfil {
    background-image: url(https://img.freepik.com/fotos-premium/papel-tapiz-fondo-textura-papel-blanco-arrugado_53876-110213.jpg?w=2000);
  }

.Carrito{
    background-image: url(https://img.freepik.com/fotos-premium/papel-tapiz-fondo-textura-papel-blanco-arrugado_53876-110213.jpg?w=2000);
}  
  .Login{
    background-image: url(https://img.freepik.com/fotos-premium/papel-tapiz-fondo-textura-papel-blanco-arrugado_53876-110213.jpg?w=2000);
}
.Register{
    background-image: url(https://img.freepik.com/fotos-premium/papel-tapiz-fondo-textura-papel-blanco-arrugado_53876-110213.jpg?w=2000);
}

.PagoCompleto{
    background-image: url(https://img.freepik.com/fotos-premium/papel-tapiz-fondo-textura-papel-blanco-arrugado_53876-110213.jpg?w=2000);
}

.Checkout{
    background-image: url(https://img.freepik.com/fotos-premium/papel-tapiz-fondo-textura-papel-blanco-arrugado_53876-110213.jpg?w=2000);
}

Html{
    background-color: rgb(240,242,245);
}

.loginrest{
    background-image: url(https://img.freepik.com/fotos-premium/papel-tapiz-fondo-textura-papel-blanco-arrugado_53876-110213.jpg?w=2000);
    height: 790px;
}